/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --font-size-small: 15px;
  --font-size-normal: 16px;
  --font-size-large: 17px;
  --font-size-big-1: 22px;
  --font-size-big-2: 24px;
  --font-size-big-3: 32px;
  --font-size-big-4: 46px;
  --font-size-big-5: 64px;
  --palette-dark-10: rgba(0, 0, 0, 0.1);
  --palette-dark-20: rgba(0, 0, 0, 0.2);
  --palette-dark-30: rgba(0, 0, 0, 0.3);
  --palette-dark-40: rgba(0, 0, 0, 0.4);
  --palette-dark-60: rgba(0, 0, 0, 0.6);
  --palette-dark-80: rgba(0, 0, 0, 0.8);
  --palette-white-10: rgba(255, 255, 255, 0.1);
  --palette-white-20: rgba(255, 255, 255, 0.2);
  --palette-charade: #21222c;
  --palette-rock: #262833;
  --palette-pale-blue: #b1b5d3;
  --ifm-color-primary: #3c6018;
  --ifm-color-primary-dark: #365616;
  --ifm-color-primary-darker: #335214;
  --ifm-color-primary-darkest: #2a4311;
  --ifm-color-primary-light: #426a1a;
  --ifm-color-primary-lighter: #456e1c;
  --ifm-color-primary-lightest: #4e7d1f;
  --ifm-code-font-size: 95%;
  --ifm-global-border-radius: 8px;
  --docusaurus-highlighted-code-line-bg: var(--palette-dark-10);
  --theme-card-bg-color: #f0f1f5;
  --theme-card-bg-color-hover: rgb(225, 227, 235);
  --theme-card-border-color: #b7b9c3;
  --theme-card-text-color: var(--palette-charade);
  --theme-card-title-color: var(--palette-charade);
  --theme-attention-card-bg-color: #f0f1f5;
  --theme-attention-card-text-color: var(--ifm-color-white);
  --theme-input-text-color: #555b88;
  --theme-card-secondary-bg-color: #dde0e9;
  --theme-button-primary-background-color: var(--ifm-color-primary);
  --theme-button-primary-text-color: var(--ifm-color-white);
  --theme-button-primary-hover-background-color: var(--ifm-color-primary-darker);
  --theme-button-secondary-background-color: var(--palette-dark-10);
  --theme-button-secondary-text-color: var(--palette-charade);
  --theme-button-secondary-hover-background-color: var(--palette-dark-30);
  --theme-button-tertiary-background-color: var(--palette-dark-30);
  --theme-button-tertiary-text-color: var(--palette-dark-80);
  --theme-button-tertiary-hover-background-color: var(--palette-dark-40);
  --theme-input-bg-color: #f0f1f5;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --palette-gray: #4b4e5d;
  --ifm-color-primary: #79c230;
  --ifm-color-primary-dark: #6daf2b;
  --ifm-color-primary-darker: #67a529;
  --ifm-color-primary-darkest: #5b9224;
  --ifm-color-primary-light: #85cf3c;
  --ifm-color-primary-lighter: #8bd145;
  --ifm-color-primary-lightest: #9dd862;
  --docusaurus-highlighted-code-line-bg: var(--palette-dark-30);
  --theme-card-text-color: var(--ifm-color-white);
  --theme-card-title-color: var(--ifm-color-white);
  --theme-card-bg-color: var(--palette-rock);
  --theme-card-bg-color-hover: rgb(47, 49, 63);
  --theme-card-border-color: #51535f;
  --theme-card-border-radius: 8px;
  --theme-attention-card-bg-color: var(--palette-gray);
  --theme-input-bg-color: #44475a;
  --theme-input-text-color: #b1b5d3;
  --theme-card-secondary-bg-color: var(--palette-charade);
  --theme-button-primary-background-color: var(--ifm-color-primary);
  --theme-button-primary-text-color: var(--ifm-color-white);
  --theme-button-primary-hover-background-color: var(--ifm-color-primary-darker);
  --theme-button-secondary-background-color: var(--ifm-color-white);
  --theme-button-secondary-text-color: var(--palette-charade);
  --theme-button-secondary-hover-background-color: #d9d9d9;
  --theme-button-tertiary-background-color: var(--palette-white-10);
  --theme-button-tertiary-text-color: var(--ifm-color-white);
  --theme-button-tertiary-hover-background-color: var(--palette-white-20);
}

.internal-href [class*='iconExternalLink'] {
  display: none;
}

.signin-button {
  --bs-btn-padding-x: .75rem;
  --bs-btn-padding-y: .375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-radius: .375rem;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(29,45,53,0.075);
  --bs-btn-disabled-opacity: .65;
  --bs-btn-focus-box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb), .5);
  --bs-btn-color: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #198754;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(29,45,53,0.125);
  --bs-btn-disabled-color: #198754;
  --bs-btn-disabled-bg: transparent;
  --bs-gradient: none;
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  margin-left: var(--ifm-navbar-item-padding-horizontal);
  order: 1;
}

.signin-button:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

@media (max-width: 996px) {
  .navbar__item.signin-button {
    display: none;
  }
}
